.carousel-container {
  position: relative; /* Set position to relative */
  width: 100%;
  overflow-x: hidden; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  white-space: nowrap; /* Prevent line breaks */
  text-align: center; /* Center the contents horizontally */
  display: inline-block; /* Ensure the container wraps around the image */
}

.carousel {
  display: flex; /* Ensure the carousel takes only the necessary width */
  transition: color 0.3s ease; /* Add transition effect for color change */
  color: rgb(0, 0, 0); /* Change color on hover */
}
.carousel :hover{
  transition: color 0.3s ease; /* Add transition effect for color change */
  color: rgb(236, 236, 236); /* Change color on hover */
}
.carousel :visited {
  color: inherit; /* Use the same color as the regular link */
}

.carousel-slide {
  flex: 0 0 auto;
  width: 90%; /* Ensure slides take full width of container */
  padding: 0 100px; /* Add padding to the left and right sides */
  background-color: #a9a9a9; /* Set dark gray background color */
}
.carousel-img
{
  padding-top: 1%;
  width: 500px; /* Adjust image width as needed */
  height: 500px; /* Adjust image width as needed */
}
.carousel-slide:first-child {
  display: block; /* Show the first slide initially */
}

.prev-button,
.next-button {
  position: absolute; /* Position the buttons relative to the container */
  z-index: 1; /* Ensure the buttons appear above the carousel */
  top: 50%; /* Align the buttons vertically in the middle */
  transform: translateY(-50%); /* Adjust vertical position */
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  cursor: pointer; /* Add cursor pointer */
  font-size: 54px; /* Adjust font size */
  color: black; /* Set default color */
}
.prev-button:hover,
.next-button:hover {
  color: rgb(110, 110, 110); /* Change color on hover */
}
.prev-button {
  right: 10px; /* Shift the previous button 10px to the right */
}

.next-button {
  left: 10px; /* Shift the next button 10px to the left */
}