.project {
    display: flex;
    align-items: center;
  }
  
  .project-details {
    flex: 1; /* Take up remaining space */
    margin-left: 10px; /* Add some spacing between image and text */
  }
  
  .project img {
    width: 400px; /* Adjust image width as needed */
    height: 300px; /* Adjust image width as needed */
  }
.projecturl{
    text-align: left;
}